DATABASE_URL=sqlite:///./aep_portal.db
# For Postgres: postgresql+psycopg2://user:password@localhost:5432/aep_portal
SECRET_KEY=change-this-to-a-random-secret-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=480
ALGORITHM=HS256
UPLOAD_DIR=./uploads
ADMIN_EMAIL=admin@aepportal.in
ADMIN_PASSWORD=Admin@123456
